.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 82%;
}

.heroBanner {
  overflow: hidden;
  padding-bottom: 32px;
  padding-top: 20px;
  position: relative;
  text-align: center;
}

.hero__img {
  display: none;
}

@media screen and (min-width: 966px) {
  .heroBanner {
    padding-bottom: 92px;
    padding-top: 60px;
    text-align: left;
  }

  .hero__img {
    background-image: url('../../static/img/legos.png'),
      url('../../static/img/grid.png');
    background-position: bottom left, top right;
    background-repeat: no-repeat;
    display: block;
    height: 208px;
    width: 419px;
  }

  .heroSub {
    max-width: 586px;
  }
}
