.container {
  text-align: center;
}

.title {
  font-size: 3.5rem;
  line-height: 1.1;
}

.heroBanner {
  height: 66vh;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.heroSub {
  margin: 0 auto;
  max-width: 37.5rem;
}

.btnGroup {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 9.625rem;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.link {
  height: 4rem !important;
  width: 100% !important;
}

.link:first-of-type {
  background-color: var(--ps-action-background);
}

@media screen and (min-width: 966px) {
  .btnGroup {
    flex-direction: row-reverse;
    margin: 0 auto;
    width: 23.5rem;
  }

  .link {
    width: initial !important;
  }
}
