.container {
  text-align: center;
}

.title {
  font-size: 3.5rem;
  line-height: 1.1;
}

.heroBanner {
  height: 66vh;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.heroSub {
  margin: 0 auto;
  max-width: 37.5rem;
}

.btnGroup {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 9.625rem;
  justify-content: center;
  margin-top: 2.5rem;
}

.link {
  display: flex;
  width: 100%;
}

.link:hover {
  color: var(--ps-text);
  text-decoration: none;
}

@media screen and (min-width: 966px) {
  .btnGroup {
    flex-direction: row-reverse;
    margin: 0 auto;
    width: 31rem;
  }

  .link {
    width: initial !important;
  }
}
