.baseConfirmDialogSection {
  composes: pandoDialogSection from '../shared/dialog.module.css';
}

.baseConfirmAnimation {
  composes: pandoFadeIn from '../shared/keyframes.module.css';
}

.confirmDialogBackdrop {
  composes: pandoDialogBackdrop from '../shared/dialog.module.css';
}

.confirmDialogBtnGroup {
  composes: pandoDialogBtnGroup from '../shared/dialog.module.css';
}

.confirmDialogCancelBtn {
  composes: pandoDialogCancelBtn from '../shared/dialog.module.css';
}

.confirmFocusGuard {
  composes: pandoFocusGuard from '../shared/dialog.module.css';
}

.confirmDialogSection {
  composes: baseConfirmAnimation baseConfirmDialogSection;
}

.confirmDialogWrapper {
  composes: pandoDialogWrapper from '../shared/dialog.module.css';
}

.confirmDialogHeader {
  composes: pandoDialogHeader from '../shared/dialog.module.css';
  margin-top: 2.5rem;
}

.confirmDialogTitleIcon {
  composes: pandoDialogTitleIcon from '../shared/dialog.module.css';
}
