.textareaBase {
  composes: pandoInput from '../shared/input.module.css';
  height: 5rem;
  line-height: inherit;
  min-height: 5rem;
  padding-bottom: 8px;
  padding-inline-end: 1rem;
  padding-top: 8px;
  vertical-align: top;
}

.textareaBorder {
  composes: pandoInputBorderColor from '../shared/input.module.css';
}

.textareaPaddingStart {
  composes: pandoInputPaddingStart from '../shared/input.module.css';
}

.initialTextarea {
  composes: textareaBase textareaBorder textareaPaddingStart;
}

.noneTextarea {
  composes: initialTextarea;
  resize: none;
}

.horizontalTextarea {
  composes: initialTextarea;
  resize: horizontal;
}

.verticalTextarea {
  composes: initialTextarea;
  resize: vertical;
}
