.tooltipBase {
  composes: pandoTooltipBase from '../shared/tooltip.module.css';
}

.tooltipWrapper {
  composes: pandoTooltipWrapper from '../shared/tooltip.module.css';
}

.tooltip {
  composes: tooltipBase;
  animation-delay: 500ms;
  filter: drop-shadow(0 0 6px rgb(0 0 0 / 50%));
  font-size: 0.75rem;
  font-variation-settings: 'wght' 500;
  font-weight: 500;
  line-height: 1.25;
  min-width: 10em;
  z-index: 1700;
}

.tooltipContent {
  composes: pandoTooltipContentBase from '../shared/tooltip.module.css';
  background-color: var(--ps-surface-inverse);
  border-radius: 4px;
  color: var(--ps-text-inverse);
  padding: 0.5rem;
  text-align: start;
}

.tooltipContent::after {
  background-color: var(--ps-surface-inverse);
  content: '';
  display: block;
  font-size: 0.71em;
  height: 1em;
  position: absolute;
  width: 1em;
}

.tooltipTrigger {
  composes: pandoTooltipTrigger from '../shared/tooltip.module.css';
  border-radius: 4px;
}
