.topPosition {
  bottom: 100%;
  padding-bottom: 1em;
}

.topPosition::after {
  bottom: 0.85em;
  transform: rotateZ(-45deg);
}

.bottomPosition {
  padding-top: 1em;
  top: 100%;
}

.bottomPosition::after {
  top: 0.85em;
  transform: rotateZ(-225deg);
}

.leftPosition {
  padding-right: 1em;
  right: 100%;
}

.leftPosition::after {
  right: 0.85em;
  transform: rotateZ(-135deg);
}

.rightPosition {
  left: 100%;
  padding-left: 1em;
}

.rightPosition::after {
  left: 0.85em;
  transform: rotateZ(45deg);
}

.horizontalCenter {
  left: 50%;
  translate: -50% 0;
}

.horizontalCenter::after {
  left: 50%;
  translate: -50% 0;
}

.horizontalStart {
  left: 0;
}

.horizontalStart::after {
  left: 0.5rem;
}

.horizontalEnd {
  right: 0;
}

.horizontalEnd::after {
  right: 0.5rem;
}

.verticalCenter,
.verticalCenter::after {
  top: 50%;
  translate: 0 -50%;
}

.verticalStart {
  top: 0;
}

.verticalStart::after {
  top: 0.5rem;
}

.verticalEnd {
  bottom: 0;
}

.verticalEnd::after {
  bottom: 0.5rem;
}

.topTooltip {
  composes: topPosition horizontalCenter;
}

.topStartTooltip {
  composes: topPosition horizontalStart;
}

.topEndTooltip {
  composes: topPosition horizontalEnd;
}

.bottomTooltip {
  composes: bottomPosition horizontalCenter;
}

.bottomStartTooltip {
  composes: bottomPosition horizontalStart;
}

.bottomEndTooltip {
  composes: bottomPosition horizontalEnd;
}

.leftTooltip {
  composes: leftPosition verticalCenter;
}

.leftStartTooltip {
  composes: leftPosition verticalStart;
}

.leftEndTooltip {
  composes: leftPosition verticalEnd;
}

.rightTooltip {
  composes: rightPosition verticalCenter;
}

.rightStartTooltip {
  composes: rightPosition verticalStart;
}

.rightEndTooltip {
  composes: rightPosition verticalEnd;
}
