@use '../shared/keyframes';
@use '../shared/states';

%base-avatar {
  @extend %default-states;

  align-items: center;
  appearance: none;
  aspect-ratio: 1/1;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  user-select: none;
}

.pando_avatarImage {
  @extend %fade-in;

  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.pando_defaultAvatar {
  @extend %base-avatar;

  background-color: var(--ps-background);
  color: var(--ps-text-medium);
}

.pando_actionAvatar {
  @extend %base-avatar;

  background-color: var(--ps-action-background);
  color: var(--ps-action-text);
}

.pando_avatarLabel {
  font-variation-settings: 'wght' 500;
  font-weight: 500;
  text-transform: uppercase;
}

/* sizes */

.pando_xsAvatar {
  height: 2rem;
  width: 2rem;
}

.pando_xsAvatarLabel {
  font-size: 0.875rem;
  line-height: 0;
}

.pando_sAvatar {
  height: 3rem;
  width: 3rem;
}

.pando_sAvatarLabel {
  font-size: 1.25rem;
}

.pando_mAvatar {
  height: 5rem;
  width: 5rem;
}

.pando_mAvatarLabel {
  font-size: 2.25rem;
}

.pando_lAvatar {
  height: 7.5rem;
  width: 7.5rem;
}

.pando_lAvatarLabel {
  font-size: 3rem;
}

.pando_xlAvatar {
  height: 10rem;
  width: 10rem;
}

.pando_xlAvatarLabel {
  font-size: 3.75rem;
}
