.baseAvatar {
  align-items: center;
  appearance: none;
  aspect-ratio: 1/1;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  user-select: none;
}

.avatarImage {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.defaultAvatar {
  composes: baseAvatar;
  background-color: var(--ps-background);
  color: var(--ps-text-medium);
}

.actionAvatar {
  composes: baseAvatar;
  background-color: var(--ps-action-background);
  color: var(--ps-action-text);
}

.avatarLabel {
  font-variation-settings: 'wght' 500;
  font-weight: 500;
  text-transform: uppercase;
}

/* sizes */

.xsAvatar {
  height: 2rem;
  width: 2rem;
}

.xsAvatarLabel {
  font-size: 0.875rem;
  line-height: 0;
}

.sAvatar {
  height: 3rem;
  width: 3rem;
}

.sAvatarLabel {
  font-size: 1.25rem;
}

.mAvatar {
  height: 5rem;
  width: 5rem;
}

.mAvatarLabel {
  font-size: 2.25rem;
}

.lAvatar {
  height: 7.5rem;
  width: 7.5rem;
}

.lAvatarLabel {
  font-size: 3rem;
}

.xlAvatar {
  height: 10rem;
  width: 10rem;
}

.xlAvatarLabel {
  font-size: 3.75rem;
}

/* hover styles */

a[href].baseAvatar:hover,
button.baseAvatar:hover {
  cursor: pointer;
}

/* focus styles */

.baseAvatar:focus {
  outline: 3px solid var(--ps-info-border);
  outline-offset: 2px;
}

.baseAvatar:focus:not(:focus-visible) {
  box-shadow: none;
  outline: none;
}
