# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @caseybaggz (Casey Baggz) and @Rykus0 (Tom Pietrosanti) will be requested for
# review when someone opens a pull request.

*       @caseybaggz @Rykus0


# Design doc changes
website/docs/design/*  @bradryanbice