.baseToastAnimation {
  composes: pandoFadeIn from '../shared/keyframes.module.css';
}

.toastBase {
  composes: baseToastAnimation;
  align-items: center;
  border-radius: 6px;
  display: flex;
  padding-inline-end: 4rem;
  position: relative;
  width: 100%;
}

.toastButton {
  composes: pandoBtn from '../shared/button.module.css';
  background-color: transparent;
  border-color: inherit;
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  color: inherit;
  font-size: 0.875rem;
  font-variation-settings: 'wght' 600;
  font-weight: 600;
  height: 2rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  pointer-events: initial;
}

.toastCloseIconWrapper {
  display: inline-block;
  pointer-events: initial;
  position: absolute;
  right: 0;
  top: 0;
}

.toastHeading {
  padding-bottom: 0.25rem;
}

.toastIconWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline-end: 1.5rem;
  padding-inline-start: 1.5rem;
}

.toastSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 5.25rem;
  padding-bottom: 1rem;
  padding-inline-end: 0.875rem;
  padding-top: 1rem;
  text-align: left;
  width: 17rem;
}

.toastWrapper {
  display: inline-block;
  pointer-events: none;
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 1600;
}

/* sentiment */

.successToast {
  composes: toastBase;
  background-color: var(--ps-success-surface);
  color: var(--ps-success-text);
}

.infoToast {
  composes: toastBase;
  background-color: var(--ps-info-surface);
  color: var(--ps-info-text);
}

.warningToast {
  composes: toastBase;
  background-color: var(--ps-warning-surface);
  color: var(--ps-warning-text);
}

.dangerToast {
  composes: toastBase;
  background-color: var(--ps-danger-surface);
  color: var(--ps-danger-text);
}
