# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules

# TS
tsconfig.tsbuildinfo

# Workspace related
temp
packages/design-tokens/npm
packages/headless-styles/npm
packages/icons/npm

# bundled workspaces
packages/react-utils/npm/browser
packages/react-utils/npm/node
packages/react-utils/npm/types

# Mac system files
.DS_Store
.history