# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules

# TS
tsconfig.tsbuildinfo

# Workspace related
temp
packages/design-tokens/npm
packages/headless-styles/npm
packages/icons/npm
packages/react-utils/npm

# Mac system files
.DS_Store
.history