# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules

# TS
tsconfig.tsbuildinfo

# Workspace related
temp
packages/icons/npm
packages/design-tokens/npm
.vscode

node_modules/
*/**/node_modules/

# bundled workspaces
packages/headless-styles/npm/browser
packages/react-utils/npm/browser
packages/headless-styles/npm/node
packages/react-utils/npm/node
packages/headless-styles/npm/types
packages/react-utils/npm/types

# Mac system files
.DS_Store
.history