@import url('https://unpkg.com/@pluralsight/design-tokens@experimental/build/css/variables.css');

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-display: swap;
  font-family: 'PS TT Commons Roman';
  font-weight: 100 900;
  src: url('https://fonts.pluralsight.com/ps-tt-commons/v1/ps-tt-commons-variable-roman.woff2')
    format('woff-variations');
}
@font-face {
  font-display: swap;
  font-family: 'PS TT Commons Roman';
  font-style: italic;
  src: url('https://fonts.pluralsight.com/ps-tt-commons/v1/ps-tt-commons-variable-italic.woff2')
    format('woff-variations');
}
@font-face {
  font-display: swap;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 300;
  src: url('https://fonts.pluralsight.com/dm-mono/v1/dm-mono-light.ttf')
    format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 300;
  src: url('https://fonts.pluralsight.com/dm-mono/v1/dm-mono-light-italic.ttf')
    format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.pluralsight.com/dm-mono/v1/dm-mono-regular.ttf')
    format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 400;
  src: url('https://fonts.pluralsight.com/dm-mono/v1/dm-mono-italic.ttf')
    format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 500;
  src: url('https://fonts.pluralsight.com/dm-mono/v1/dm-mono-medium.ttf')
    format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 500;
  src: url('https://fonts.pluralsight.com/dm-mono/v1/dm-mono-medium-italic.ttf')
    format('truetype');
}

:root {
  --ifm-code-font-size: 95%;
  --ifm-color-primary: var(--ps-background);
  --ifm-menu-color-active: var(--ps-text-weak);
  --ifm-font-color-base: var(--ps-neutral-text);
  --ifm-font-family-monospace: 'DM Mono', sfmono-regular, menlo, monaco,
    consalas, 'Liberation Mono', 'Courier New', monospace;
  --ifm-heading-color: var(--ps-neutral-text);
  --ifm-navbar-background-color: hsl(245deg 36% 15% / 100%);
  --ifm-navbar-link-hover-color: var(--ps-text-weak);
  --ps-search-background: hsl(244deg 36% 24% / 100%);
}

html {
  font-family: 'PS TT Commons Roman', 'Gotham SSm A', 'Gotham SSm B', Arial,
    sans-serif;
  font-feature-settings: 'tnum' on, 'lnum' on;
  text-size-adjust: 100%;
}

html[data-theme='dark'] {
  --docsearch-key-gradient: var(--ps-neutral-text) !important;
  --docsearch-muted-color: var(--ps-neutral-text) !important;
  --docsearch-searchbox-background: var(--ps-search-background) !important;
  --ifm-background-color: var(--ps-neutral-surface);
  --ifm-tabs-color-active: var(--ps-border);
}

html[data-theme='light'] {
  --docsearch-searchbox-background: var(--ps-search-background) !important;
  --ifm-font-color-base: hsl(0deg 0% 0% / 90%);
  --ifm-heading-color: hsl(0deg 0% 0% / 90%);
  --ifm-navbar-link-hover-color: hsl(248deg 63% 75% / 100%) !important;
}

.admonition-content {
  padding-left: 48px;
}

.admonition-caution {
  --ra-admonition-icon-color: var(--ps-warning-text-weak);
}

.admonition-tip {
  --ra-admonition-icon-color: var(--ps-success-text-weak);
}

.admonition-note,
.admonition-info {
  --ra-admonition-icon-color: var(--ps-info-text-weak);
}

.admonition-heading {
  padding-left: 13px;
}

.admonition-heading h5 {
  font-size: 16px;
  margin-bottom: 4px;
}

.admonition-icon {
  padding-right: 8px;
}

.alert a {
  color: var(--ps-background);
}

.alert--warning a,
.alert--secondary a {
  color: var(--ps-text-weak);
}

.alert--warning,
.alert--secondary,
.alert--info,
.alert--success {
  --ifm-alert-background-color: var(--ps-warning-background-weak);
  --ifm-alert-border-color: var(--ps-warning-border);

  border: none;
  border-radius: 6px;
  position: relative;
}

.alert--secondary,
.alert--info {
  --ifm-alert-background-color: var(--ps-info-background-weak);
  --ifm-alert-border-color: var(--ps-info-border);
}

.alert--success {
  --ifm-alert-background-color: var(--ps-success-background-weak);
  --ifm-alert-border-color: var(--ps-success-border);
}

.alert--warning::before,
.alert--secondary::before,
.alert--info::before,
.alert--success::before {
  background-color: var(--ifm-alert-border-color);
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  content: '';
  height: 100%;
  left: 0.5px;
  position: absolute;
  top: 0;
  width: 4px;
  z-index: 1;
}

.alert--warning h5,
.alert.alert--warning {
  color: var(--ps-warning-text);
}

.alert--secondary h5,
.alert--info h5,
.alert.alert--secondary,
.alert.alert--info {
  color: var(--ps-info-text);
}

.alert--success h5,
.alert.alert--success {
  color: var(--ps-success-text);
}

.DocSearch-Button,
.DocSearch-Button:hover,
.DocSearch-Button .DocSearch-Search-Icon,
.DocSearch-Button-Key {
  color: hsl(234deg 30% 68% / 100%) !important;
}

.DocSearch-Button:hover {
  background: var(--ps-search-background) !important;
  box-shadow: none !important;
}

html[data-theme='light'] .DocSearch-Button:hover {
  color: var(--ps-text);
}

.DocSearch-Button-Key {
  border-radius: 4px !important;
  box-shadow: none !important;
}

.DocSearch-Commands-Key {
  box-shadow: none !important;
}

.DocSearch-Commands-Key path {
  stroke: var(--ps-background-strong);
}

.docusaurus-highlight-code-line {
  background-color: rgb(0 0 0 / 10%);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgb(0 0 0 / 30%);
}

.footer--dark {
  --ifm-footer-background-color: var(--ps-background-strong);
  --ifm-footer-color: var(--ps-text-weak);
  --ifm-footer-link-color: var(--ps-text);
  --ifm-footer-title-color: var(--ps-text-weak);
}

html[data-theme='light'] .footer--dark {
  --ifm-footer-color: hsl(234deg 30% 78% / 100%);
  --ifm-footer-link-color: var(--ifm-color-white);
  --ifm-footer-title-color: hsl(234deg 30% 78% / 100%);
}

.hero--primary {
  --ifm-hero-text-color: var(--ps-text);

  background: linear-gradient(103.95deg, #00a3ff 0%, #770ef7 100%);
}

html[data-theme='light'] .hero__subtitle {
  color: hsl(0deg 0% 100% / 80%);
}

.navbar__brand {
  color: var(--ps-text);
}

.navbar__brand,
html[data-theme='light'] .navbar__link,
html[data-theme='light'] .hero__title {
  color: white;
}

html[data-theme='light'] .navbar__brand:hover,
html[data-theme='light'] .navbar__link:hover,
html[data-theme='light'] .navbar__link--active {
  color: var(--ps-background-weak-active);
}

html[data-theme='dark'] .card__text,
html[data-theme='dark'] .card__text h3 {
  color: hsl(214deg 36% 16% / 100%);
}
