.input {
  composes: pandoInput from '../shared/input.module.css';
}

.inputBorderColor {
  composes: pandoInputBorderColor from '../shared/input.module.css';
}

.inputPaddingStart {
  composes: pandoInputPaddingStart from '../shared/input.module.css';
}

.inputWrapper {
  margin-top: 8px;
  position: relative;
  width: 100%;
}

.inputIcon {
  display: inline-block;
  line-height: 0;
  position: absolute;
  right: 0.798rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
}

.inputLeadingIcon {
  composes: inputIcon;
  left: 0.798rem;
  right: initial;
}

/* kind (required) */

.defaultInput {
  composes: input inputBorderColor inputPaddingStart;
}

.iconInput {
  composes: input inputBorderColor;
  padding-inline-start: 2.5rem;
}

/* sizes (optional) */

.mInputBase {
  font-size: 0.875rem;
  height: 2rem;
}

.lInputBase {
  font-size: 1rem;
  height: 3rem;
}

/* states */

.inputIcon[data-invalid='true'] {
  color: var(--ps-danger-text-weak);
}
