.gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.example {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.label {
  margin-top: 1rem;
}
