@import url('https://unpkg.com/normalize.css@latest/normalize.css');
@import url('https://unpkg.com/@pluralsight/design-tokens@alpha/build/css/variables.css');

html {
  box-sizing: border-box;
  font-family: 'PS TT Commons Roman', 'Gotham SSm A', 'Gotham SSm B', Arial,
    sans-serif;
  font-feature-settings: 'tnum' on, 'lnum' on;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.7143;
  text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote,
p,
address,
hr,
table,
fieldset,
figure,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

ul,
ol,
dd {
  line-height: 24px;
  margin-left: 24px;
}

ul,
ol {
  padding-left: 0;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

img[width],
img[height] {
  max-width: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

.psds-screenreader-only {
  border: 0;
  height: 1px;
  left: -10000px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: auto;
  width: 1px;
}

/* themes */

.light {
  --ps-background: hsl(210deg 40% 96% / 100%);
  --ps-background-medium: hsl(210deg 40% 97% / 100%);
  --ps-background-strong: hsl(0deg 0% 100% / 100%);
  --ps-border: hsl(214deg 36% 66% / 50%);
  --ps-danger-background: hsl(347deg 100% 89% / 100%);
  --ps-danger-border: hsl(326deg 100% 41% / 100%);
  --ps-danger-selected-text: hsl(326deg 100% 32% / 100%);
  --ps-danger-text: hsl(327deg 100% 24% / 100%);
  --ps-info-background: hsl(216deg 100% 91% / 100%);
  --ps-info-icon: hsl(197deg 100% 25% / 100%);
  --ps-info-text: hsl(204deg 100% 20% / 100%);
  --ps-selected-background: hsl(249deg 63% 51% / 100%);
  --ps-selected-background-medium: hsl(214deg 48% 83% / 40%);
  --ps-selected-background-strong: hsl(253deg 100% 94% / 100%);
  --ps-success-background: hsl(142deg 100% 88% / 100%);
  --ps-success-icon: hsl(155deg 100% 19% / 100%);
  --ps-success-text: hsl(151deg 100% 9% / 100%);
  --ps-text: hsl(0deg 0% 0% / 90%);
  --ps-text-weak: hsl(248deg 63% 38% / 100%);
  --ps-text-medium: hsl(249deg 67% 25% / 100%);
  --ps-warning-background: hsl(36deg 100% 92% / 100%);
  --ps-warning-icon: hsl(46deg 100% 26% / 100%);
  --ps-warning-text: hsl(45deg 100% 15% / 100%);
}
