.wrapper {
  align-items: center;
  display: flex;
  gap: 0.875rem;
}

.container {
  display: inline-block;
  line-height: 0;
  position: relative;
  vertical-align: middle;
}

.input {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.thumb {
  background: var(--ps-action-text-weak);
  border-radius: inherit;
  height: var(--ps-thumb-size);
  transition-duration: 200ms;
  transition-property: transform, background-color, width, height;
  width: var(--ps-thumb-size);
}

.track {
  --ps-thumb-size: 0.75rem;
  --ps-track-height: 1.5rem;
  --ps-track-width: 3rem;

  align-items: center;
  border: 1px solid var(--ps-action-border);
  border-radius: 1000px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  height: var(--ps-track-height);
  justify-content: flex-start;
  padding: 2px 4px 2px 7px;
  transition-duration: 150ms;
  transition-property: background, background-color, border-color, transform;
  width: var(--ps-track-width);
}

/* element states */

.track:is([disabled], [data-readonly='true']) {
  cursor: not-allowed;
}

.input:focus + .track {
  outline: 3px solid var(--ps-action-border-focus);
  outline-offset: 2px;
}

.input:focus:not(:focus-visible) + .track {
  box-shadow: none;
  outline: none;
}

.thumb[data-checked='true'] {
  background-color: var(--ps-action-text);
  transform: translateX(
      calc(var(--ps-track-width) - var(--ps-track-height) - 4px)
    )
    scale(1.5);
}

.thumb[data-invalid='true'] {
  background: var(--ps-danger-background);
}

.thumb[data-invalid='true'][data-checked='true'] {
  background: var(--ps-danger-text-inverse);
}

.thumb:not(
    [disabled],
    [data-readonly='true'],
    [data-invalid='true'],
    [data-checked='true']
  ):hover,
.track:not(
    [disabled],
    [data-readonly='true'],
    [data-invalid='true'],
    [data-checked='true']
  ):hover
  > .thumb {
  background: var(--ps-action-text-inverse);
}

.thumb[data-checked='true']:not(
    [disabled],
    [data-readonly='true'],
    [data-invalid='true']
  ):hover,
.track[data-checked='true']:not(
    [disabled],
    [data-readonly='true'],
    [data-invalid='true']
  ):hover
  > .thumb {
  background: var(--ps-action-text);
}

.thumb[data-invalid='true']:not(
    [disabled],
    [data-readonly='true'],
    [data-checked='true']
  ):hover,
.track[data-invalid='true']:not(
    [disabled],
    [data-readonly='true'],
    [data-checked='true']
  ):hover
  > .thumb {
  background: var(--ps-danger-background-hover);
}

.track[data-checked='true'] {
  background: var(--ps-action-background);
  border-color: var(--ps-action-background);
}

.track[data-checked='true']:not(
    [disabled],
    [data-readonly='true'],
    [data-invalid='true']
  ):hover {
  background: var(--ps-action-background-hover);
  border-color: var(--ps-action-background-hover);
}

.track[data-invalid='true'] {
  border-color: var(--ps-danger-border);
}

.track[data-invalid='true'][data-checked='true'] {
  border-color: var(--ps-danger-background);
  background: var(--ps-danger-background);
}

.track[data-invalid='true'][data-checked='true']:hover {
  background: var(--ps-danger-background-hover);
  border-color: var(--ps-danger-background-hover);
}

/* sizes - must be last */

.sTrack {
  composes: track;

  --ps-thumb-size: 0.4375rem;
  --ps-track-height: 1rem;
  --ps-track-width: 2rem;

  padding-left: 5px;
}

.mTrack {
  composes: track;
}
