.wrapper {
  align-items: center;
  display: flex;
  gap: 0.875rem;
}

.container {
  display: inline-block;
  line-height: 0;
  position: relative;
  vertical-align: middle;
}

.input {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.thumb {
  background: var(--ps-action-text-weak);
  border-radius: inherit;
  height: var(--ps-thumb-size);
  transform: translateX(
      calc(-1 * (var(--ps-track-width) - var(--ps-thumb-size) * 1.5))
    )
    scale(var(--ps-thumb-off-scale));
  transition-duration: 200ms;
  transition-property: transform, background;
  width: var(--ps-thumb-size);
}

.track {
  --ps-thumb-off-scale: 0.6667;
  --ps-thumb-size: 1.125rem;
  --ps-track-height: 1.625rem;
  --ps-track-width: 3.125rem;

  align-items: center;
  border: 1px solid var(--ps-action-border);
  border-radius: 1000px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  height: var(--ps-track-height);
  justify-content: flex-end;
  padding: 3px;
  position: relative;
  transition-duration: 150ms;
  transition-property: background, border-color, transform;
  width: var(--ps-track-width);
}

/* element states */

.track:is([disabled], [data-readonly='true']) {
  cursor: not-allowed;
}

.input:focus + .track {
  outline: 3px solid var(--ps-action-border-focus);
  outline-offset: 2px;
}

.input:focus:not(:focus-visible) + .track {
  box-shadow: none;
  outline: none;
}

.thumb[data-checked='true'] {
  background: var(--ps-action-text);
  transform: translateX(0) scale(1);
}

.thumb[data-invalid='true'] {
  background: var(--ps-danger-background);
}

.thumb[data-invalid='true'][data-checked='true'] {
  background: var(--ps-danger-text-inverse);
}

.track:not([disabled], [data-readonly='true']):hover > .thumb {
  background: var(--ps-action-text-inverse);
}

.track[data-checked='true']:not([disabled], [data-readonly='true']):hover
  > .thumb {
  background: var(--ps-action-text);
}

.track[data-invalid='true']:not([disabled], [data-readonly='true']):hover
  > .thumb {
  background: var(--ps-danger-background-hover);
}

.track[data-invalid='true'][data-checked='true']:not(
    [disabled],
    [data-readonly='true']
  ):hover
  > .thumb {
  background: var(--ps-danger-text-inverse);
}

.track[data-checked='true'] {
  background: var(--ps-action-background);
  border-color: var(--ps-action-background);
}

.track[data-invalid='true'] {
  border-color: var(--ps-danger-border);
}

.track[data-invalid='true'][data-checked='true'] {
  background: var(--ps-danger-background);
  border-color: var(--ps-danger-background);
}

.track[data-checked='true']:not([disabled], [data-readonly='true']):hover {
  background: var(--ps-action-background-hover);
  border-color: var(--ps-action-background-hover);
}

.track[data-checked='true'][data-invalid='true']:not(
    [disabled],
    [data-readonly='true']
  ):hover {
  background: var(--ps-danger-background-hover);
  border-color: var(--ps-danger-background-hover);
}

/* sizes - must be last */

.sTrack {
  composes: track;

  --ps-thumb-size: 0.75rem;
  --ps-track-height: 1.125rem;
  --ps-track-width: 2.125rem;

  padding: 2px;
}

.mTrack {
  composes: track;
}
