@use '../shared/states';
@use '../shared/keyframes';

.pando_menu {
  @extend %pop-in;

  background-color: var(--ps-surface-strong);
  border-color: var(--ps-border);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
  display: none;
  list-style: none;
  opacity: 0;
  padding: 4px;
  position: absolute;
  width: 14rem;
  z-index: 1000;

  &[data-expanded='true'] {
    display: block;
  }
}

.pando_menuWrapper {
  display: inline-block;
  position: relative;
}

.pando_menuDivider {
  background-color: var(--ps-border);
  height: 1px;
  margin-bottom: 0.5rem;
  margin-inline-end: 0.5rem;
  margin-inline-start: 0.5rem;
  margin-top: 0.5rem;
}

.pando_menuListItem {
  margin: 0;
  padding: 0;
  position: relative;
}

.pando_menuListItem + .pando_menuListItem {
  margin: 2px 0 0;
  padding: 0;
}

.pando_menuItem,
.pando_menuItem:any-link {
  @extend %default-states;

  align-items: center;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 3px;
  color: var(--ps-text);
  display: flex;
  font-family: inherit;
  font-variation-settings: 'wght' 500;
  font-weight: 500;
  gap: 0.625rem;
  justify-content: flex-start;
  line-height: 1.5;
  overflow: hidden;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  text-align: start;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  white-space: nowrap;
  width: 100%;

  &[aria-expanded='true'],
  &:active {
    background: var(--ps-action-background);
    color: var(--ps-action-text);
  }

  &:hover:not([aria-expanded='true']) {
    background: var(--ps-background-hover);
    color: var(--ps-text);
  }
}

.pando_menuItem > * {
  overflow: hidden;
  text-overflow: ellipsis;
}

.pando_menuItem > svg {
  flex: 0 0 auto;
}

.pando_menuItem ~ :is(.pando_menu, [role='menu']) {
  left: 100%;
  margin-left: 0.625rem;
  margin-top: 0;
  position: absolute;
  top: 0;
  z-index: 1010;
}

.pando_menuItem[aria-expanded='true'] ~ .pando_menu {
  display: block;
}

.pando_menuItemText {
  flex-grow: 1;
}
