@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.menu {
  animation-delay: 100ms;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
  background-color: var(--ps-surface-strong);
  border-color: var(--ps-border);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
  display: none;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.625rem;
  opacity: 0;
  padding: 4px;
  position: absolute;
  top: 100%;
  width: 14rem;
  z-index: 1000;
}

.menuWrapper {
  position: relative;
}

.menuDivider {
  background-color: var(--ps-border);
  height: 1px;
  margin-bottom: 0.5rem;
  margin-inline-end: 0.5rem;
  margin-inline-start: 0.5rem;
  margin-top: 0.5rem;
}

.menuListItem {
  margin: 0;
  padding: 0;
  position: relative;
}

.menuListItem + .menuListItem {
  margin: 2px 0 0;
  padding: 0;
}

.menuItem {
  align-items: center;
  display: flex;
  gap: 0.625rem;
  justify-content: flex-start;
}

.menuItem,
.menuItem:any-link {
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 3px;
  color: var(--ps-text);
  cursor: pointer;
  font-family: inherit;
  font-variation-settings: 'wght' 500;
  font-weight: 500;
  line-height: 1.5;
  overflow: hidden;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  text-align: start;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  white-space: nowrap;
  width: 100%;
}

.menuItemText {
  flex-grow: 1;
}

.menuItem > * {
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuItem > svg {
  flex: 0 0 auto;
}

.menuItem ~ :is(.menu, [role='menu']) {
  left: 100%;
  margin-left: 0.625rem;
  margin-top: 0;
  position: absolute;
  top: 0;
  z-index: 1010;
}

.menuItem[aria-expanded='true'] ~ .menu,
.menu[data-expanded='true'] {
  display: block;
}

.menuItem[aria-expanded='true'],
.menuItem:active {
  background: var(--ps-action-background);
  color: var(--ps-action-text);
}

.menuItem:hover:not([aria-expanded='true']) {
  background: var(--ps-background-hover);
  color: var(--ps-text);
}

.menuItem:focus:not([aria-expanded='true']) {
  outline: 3px solid var(--ps-action-border-focus);
  outline-offset: 2px;
}

.menuItem:focus:not(:focus-visible) {
  box-shadow: none;
  outline: none;
}
