@mixin top-position {
  bottom: 100%;
  margin-bottom: 0.625rem;
}

@mixin bottom-position {
  margin-top: 0.625rem;
  top: 100%;
}

@mixin left-position {
  margin-right: 0.625rem;
  right: 100%;
}

@mixin right-position {
  left: 100%;
  margin-left: 0.625rem;
}

@mixin horizontal-center {
  left: 50%;
  translate: -50% 0;
}

@mixin horizontal-start {
  left: 0;
}

@mixin horizontal-end {
  right: 0;
}

@mixin vertical-center {
  top: 50%;
  translate: 0 -50%;
}

@mixin vertical-start {
  top: 0;
}

@mixin vertical-end {
  bottom: 0;
}

.pando_topMenu {
  @include top-position;
  @include horizontal-center;
}

.pando_topStartMenu {
  @include top-position;
  @include horizontal-start;
}

.pando_topEndMenu {
  @include top-position;
  @include horizontal-end;
}

.pando_bottomMenu {
  @include bottom-position;
  @include horizontal-center;
}

.pando_bottomStartMenu {
  @include bottom-position;
  @include horizontal-start;
}

.pando_bottomEndMenu {
  @include bottom-position;
  @include horizontal-end;
}

.pando_leftMenu {
  @include left-position;
  @include vertical-center;
}

.pando_leftStartMenu {
  @include left-position;
  @include vertical-start;
}

.pando_leftEndMenu {
  @include left-position;
  @include vertical-end;
}

.pando_rightMenu {
  @include right-position;
  @include vertical-center;
}

.pando_rightStartMenu {
  @include right-position;
  @include vertical-start;
}

.pando_rightEndMenu {
  @include right-position;
  @include vertical-end;
}
