.baseModalSection {
  composes: pandoDialogSection from '../shared/dialog.module.css';
}

.baseModalAnimation {
  composes: pandoFadeIn from '../shared/keyframes.module.css';
}

.modalBackdrop {
  composes: pandoDialogBackdrop from '../shared/dialog.module.css';
}

.modalBtnGroup {
  composes: pandoDialogBtnGroup from '../shared/dialog.module.css';
}

.modalCancelBtn {
  composes: pandoDialogCancelBtn from '../shared/dialog.module.css';
}

.modalFocusGuard {
  composes: pandoFocusGuard from '../shared/dialog.module.css';
}

.modalSection {
  composes: baseModalAnimation baseModalSection;
  margin-inline-end: 1rem;
  margin-inline-start: 1rem;
  max-height: 80vh;
  max-width: 37.5rem;
  padding: 3rem 2rem 2rem;
}

.modalWrapper {
  composes: pandoDialogWrapper from '../shared/dialog.module.css';
}

.modalHeader {
  composes: pandoDialogHeader from '../shared/dialog.module.css';
}

.modalButtonWrapper {
  position: absolute;
  right: 0;
  top: 0;
}

.modalBody {
  overflow: auto;
}
