.selectFieldWrapper {
  width: 100%;
}

.selectWrapper {
  composes: inputWrapper from '../Input/inputCSS.module.css';
}

.selectBase {
  composes: defaultInput from '../Input/inputCSS.module.css';
}

.selectIcon {
  composes: inputIcon from '../Input/inputCSS.module.css';
  color: var(--ps-text-strong);
  right: 0.5rem;
}

.selectOption {
  background-color: initial;
  color: initial;
}

/* sizes (optional) */

.mSelectBase {
  composes: mInputBase from '../Input/inputCSS.module.css';
}

.lSelectBase {
  composes: lInputBase from '../Input/inputCSS.module.css';
  padding-inline-end: 2.25rem;
}
