.formControlBase {
  align-items: center;
  display: flex;
  gap: 1rem;
  position: relative;
  width: 100%;
}

.formControlBase[disabled] {
  opacity: 0.5;
}

.rowFormControl {
  composes: formControlBase;
}

.colFormControl {
  composes: formControlBase;
  align-items: flex-start;
  flex-direction: column;
}
