@keyframes loading {
  0% {
    stroke-dasharray: 1, 400;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 400, 400;
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dasharray: 400, 400;
    stroke-dashoffset: -260;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

%box {
  animation-name: spin;
  height: 3rem;
  width: 3rem;
}

.pando_circularProgressBase {
  display: inline-block;
  font-family: inherit;
  position: relative;
  vertical-align: middle;
}

.pando_circularProgressCircle {
  fill: transparent;
  stroke: var(--ps-border);
}

.pando_circularProgressCircleNow {
  animation-name: loading;
  fill: transparent;
  stroke: var(--ps-text);
  transition-duration: 600ms;
  transition-property: stroke-dasharray, stroke;
  transition-timing-function: ease;
}

.pando_circularProgressText {
  display: inline-block;
  font-family: inherit;
  font-size: 0.75rem;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 42%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/* sizes */

.pando_mCircularProgress {
  @extend %box;
}

.pando_xsCircularProgress {
  @extend %box;

  height: 1.25rem;
  width: 1.25rem;
}

/* custom props - order matters */

.pando_determinateCircularProgress {
  animation-name: none;
}

.pando_indeterminateCircularProgress {
  animation-direction: normal;
  animation-duration: 1.5s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
}
