.paginationContainer {
  align-items: baseline;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: 1fr;
  row-gap: 0;
  text-align: right;
  width: 100%;
}

.mPaginationContainer {
  composes: paginationContainer;
  column-gap: 1rem;
}

.lPaginationContainer {
  composes: paginationContainer;
  column-gap: 2rem;
}

.paginationButtonGroup {
  display: flex;
  justify-content: center;
  text-align: center;
}

.mPaginationButtonGroup {
  composes: paginationButtonGroup;
  gap: 0.5rem;
}

.lPaginationButtonGroup {
  composes: paginationButtonGroup;
  gap: 1rem;
}

.paginationText {
  color: var(--ps-text-medium);
  white-space: nowrap;
}

.paginationText > strong {
  color: var(--ps-text-strong);
}

.mPaginationText {
  composes: paginationText;
  font-size: 0.875rem;
}

.lPaginationText {
  composes: paginationText;
}
