.paginationContainer {
  align-items: center;
  column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  row-gap: 0;
  text-align: right;
  width: 100%;
}

.paginationBtn {
  composes: btnBase from '../Button/buttonCSS.module.css';
  background-color: var(--ps-background);
  border-radius: 6px;
  color: var(--ps-text);
  height: 2rem;
  min-width: initial;
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
}

.paginationBtn:hover {
  background-color: var(--ps-background-hover);
}

.paginationNewer {
  composes: paginationBtn;
}

.paginationOlder {
  composes: paginationBtn;
  margin-left: 0.5rem;
}

.paginationText {
  color: var(--ps-text-medium);
}

.paginationText > strong {
  color: var(--ps-text-strong);
}

/* focus */

.paginationBtn:focus {
  outline: 3px solid var(--ps-action-border-focus);
  outline-offset: 2px;
}

.paginationBtn:focus:not(:focus-visible) {
  box-shadow: none;
  outline: none;
}
