@use 'sass:map';
@use '../shared/button';

@mixin btn-with-avatar {
  &:has(.pando-avatar) {
    height: auto;
  }
}

$btn-sentiment-colors: (
  'action': (
    'background': '--ps-action-background',
    'border': '--ps-action-border',
    'text': '--ps-action-text',
  ),
  'default': (
    'background': '--ps-background',
    'border': '--ps-border-strong',
    'text': '--ps-text',
  ),
  'danger': (
    'background': '--ps-danger-background',
    'border': '--ps-danger-border',
    'text': '--ps-danger-text-inverse',
  ),
);

/* sentiment (optional) - this must be before usage */

@each $sentiment, $btn-colors in $btn-sentiment-colors {
  .pando_#{$sentiment}Button {
    background-color: var(#{map.get($btn-colors, 'background')});
    border-color: var(#{map.get($btn-colors, 'border')});
    color: var(#{map.get($btn-colors, 'text')});

    &:hover:not(:disabled) {
      background-color: var(#{map.get($btn-colors, 'background')}-hover);
      color: var(#{map.get($btn-colors, 'text')});
    }

    &:active:not(:disabled) {
      background-color: var(#{map.get($btn-colors, 'background')}-active);
      color: var(#{map.get($btn-colors, 'text')});
    }
  }
}

/* size (optional) */

.pando_mButton {
  @include btn-with-avatar;

  font-size: 0.875rem;
  height: 2rem;
  min-width: 2.5rem;
  padding-inline-end: 1.125rem;
  padding-inline-start: 1.125rem;
}

.pando_lButton {
  @include btn-with-avatar;

  height: 3rem;
  min-width: 2.5rem;
  padding-inline-end: 2.156rem;
  padding-inline-start: 2.156rem;
}

/* usage (required) */

.pando_filledButton {
  @extend %base-btn;
  @extend %base-btn-radius;
}

.pando_outlineButton {
  @extend %base-btn;
  @extend %base-btn-border;
  @extend %base-btn-radius;

  background-color: transparent;
  color: var(--ps-text);

  &:active:not(:disabled) {
    background-color: var(--ps-background-active);
    color: var(--ps-text);
  }
}

.pando_textButton {
  @extend %base-btn;
  @extend %base-btn-radius;

  background-color: transparent;
  color: var(--ps-text);
  text-decoration: underline;

  &:hover:not(:disabled) {
    background-color: transparent;
    color: var(--ps-action-navigation-hover);
    scale: 1.1;
    text-decoration: none;
  }

  &:active:not(:disabled) {
    background-color: transparent;
    color: var(--ps-action-navigation-visited);
  }
}
