.tabWrapper {
  width: 100%;
}

.tabList {
  background-color: var(--ps-surface-weak);
  background-image: linear-gradient(
    to top,
    transparent 0,
    transparent 1rem,
    var(--ps-border-weak) 1.0625rem,
    var(--ps-border-weak) 1.125rem,
    transparent 1.1875rem,
    transparent 100%
  );
  display: flex;
  overflow-y: auto;
  padding-block-end: 1rem;
}

.tabBase {
  appearance: none;
  background: transparent;
  border: 0;
  color: var(--ps-action-text-weak);
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-variation-settings: 'wght' 500;
  font-weight: 500;
  height: 4rem;
  padding: 0;
  position: relative;
  white-space: nowrap;
}

.tabBase + .tabBase {
  margin-inline-start: 2rem;
}

.mTab {
  composes: tabBase;
}

.sTab {
  composes: tabBase;
  font-size: 0.875rem;
  height: 3rem;
}

.sTab + .sTab {
  margin-inline-start: 1.5rem;
}

.tabBase::after {
  background-color: var(--ps-background-hover);
  border-radius: 2px 2px 0 0;
  bottom: 0.125rem;
  content: '';
  display: block;
  height: 0;
  left: 0;
  margin-top: 1.125rem;
  position: absolute;
  right: 0;
  transition: height 150ms ease-in-out, background-color 250ms ease-in-out;
  width: 100%;
}

.sTab::after {
  margin-top: 0.72rem;
}

.tabBase:hover::after {
  height: 0.25rem;
}

.tabBase[aria-selected='true'] {
  color: var(--ps-action-text-inverse);
}

.tabBase[aria-selected='true']::after {
  background-color: var(--ps-action-border);
  height: 0.25rem;
}

.tabPanel {
  width: 100%;
}

.tabPanel[aria-hidden='true'] {
  display: none;
}

/* focus */

.tabBase:focus {
  outline: 3px solid var(--ps-info-border);
  outline-offset: 2px;
}

.tabBase:focus:not(:focus-visible) {
  box-shadow: none;
  outline: none;
}
