.button {
  inline-padding: 10.5px !important;
  width: 2.5rem;
}

.chakra path {
  fill: var(--ps-surface-medium) !important;
}

.chakraCircle {
  fill: var(--ps-text-medium);
}

.list {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.listItem {
  margin-left: 6px;
  margin-top: 0 !important;
}

.icon {
  height: 1.24rem;
  line-height: 0;
  width: 1.24rem;
}

.icon path {
  fill: var(--ps-text-medium);
}

.icon path.svelteBackground {
  fill: var(--ps-surface-medium);
}

.svelteOutline {
  fill: var(--ps-text-medium);
}
