.button {
  border-radius: 50%;
  height: 2.5rem;
  inline-padding: 10.5px;
  width: 2.5rem;
}

.chakra path {
  fill: var(--ps-neutral-surface) !important;
}

.chakraCircle {
  fill: var(--ps-neutral-text-weak);
}

.list {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.listItem {
  margin-left: 6px;
  margin-top: 0 !important;
}

.icon {
  height: 1.24rem;
  line-height: 0;
  width: 1.24rem;
}

.icon path {
  fill: var(--ps-neutral-text-weak);
}
