.radioGroup {
  align-items: center;
  display: flex;
}

.radioContainer {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  margin-inline-start: 1rem;
  vertical-align: top;
}

.radioInput {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.radioControl {
  align-items: center;
  border-color: var(--ps-action-border);
  border-image: initial;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  color: var(--ps-text);
  display: inline-flex;
  flex-shrink: 0;
  height: 1.125rem;
  justify-content: center;
  margin-bottom: 2px;
  margin-inline-end: 0.437rem;
  transition-duration: 150ms;
  transition-property: background, box-shadow;
  width: 1.125rem;
}

.radioControl:not([disabled]):hover {
  background: var(--ps-background-hover);
}

/* states */

.radioInput:focus + [data-control] {
  outline: 3px solid var(--ps-action-border-focus);
  outline-offset: 2px;
}

.radioInput:focus:not(:focus-visible) + [data-control] {
  box-shadow: none;
  outline: none;
}

.radioContainer[disabled],
.radioContainer[data-readonly='true'] {
  cursor: not-allowed;
}

.radioControl[data-checked='true'] {
  background: var(--ps-action-background);
  border-color: var(--ps-action-background);
  border-width: initial;
}

.radioControl[data-checked='true']:hover {
  background: var(--ps-action-background-hover);
  border-color: var(--ps-action-background-hover);
}

.radioControl[data-checked='true']::before {
  background: var(--ps-action-text);
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 50%;
  position: relative;
  width: 50%;
}

.radioControl[disabled] {
  background: var(--ps-background);
  border-color: var(--ps-background);
}

.radioControl[data-invalid='true'],
.radioControl[data-invalid='true']:hover {
  background: var(--ps-danger-surface);
  border-color: var(--ps-danger-surface);
}

.radioControl[data-readonly='true']:hover {
  background-color: initial;
}
