%form-group-base {
  align-items: center;
  display: flex;
  gap: 1rem;
  position: relative;
  width: 100%;

  &[disabled] {
    opacity: 0.5;
  }
}

.pando_rowFormGroup {
  @extend %form-group-base;
}

.pando_colFormGroup {
  @extend %form-group-base;

  align-items: flex-start;
  flex-direction: column;
}
