.icon {
  display: flex;
  margin-top: -1px;
  padding-inline-end: 5.37px;
}

.npmIcon {
  composes: icon;
  height: 2rem;
}

.link:hover {
  color: var(--ps-neutral-text);
  text-decoration: none;
}
