.icon {
  display: inline-block;
  height: 1.2rem;
  padding-inline-end: 0.4rem;
}

.npmIcon {
  composes: icon;
  height: 2rem;
}

.link:hover {
  color: var(--ps-neutral-text);
  text-decoration: none;
}
