.App {
  background-color: var(--ps-surface-medium);
  color: var(--ps-text);
  min-height: 100vh;
  padding-bottom: 2.6rem;
  text-align: center;
}

.App-header {
  background-color: var(--ps-surface-strong);
  margin-bottom: 1rem;
  padding-bottom: 0.175rem;
  padding-top: 0.175rem;
  position: sticky;
  top: 0;
  z-index: 1100;
}

.App-layout {
  display: flex;
  height: calc(100vh - 3.375rem);
  width: 100%;
}

.App-navbar {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 1.5rem;
}

.App-navbar > a {
  display: block;
  padding: 1rem;
  text-align: left;
}

.App-feature {
  flex: 5;
}

.App-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2.5rem auto;
  width: 41.5rem;
}

.bottomSpacing {
  margin-bottom: 1rem;
  width: 100%;
}

.column {
  flex-direction: column;
}
