.App {
  background-color: var(--ps-neutral-surface);
  color: var(--ps-neutral-text);
  min-height: 100vh;
  padding-bottom: 2.6rem;
  text-align: center;
}

.App-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2.5rem auto;
  width: 37.5rem;
}

.App-header {
  background-color: var(--ps-neutral-surface-medium);
  margin-bottom: 1rem;
  padding-bottom: 0.175rem;
  padding-top: 0.175rem;
  position: sticky;
  top: 0;
  z-index: 1100;
}

.bottomSpacing {
  margin-bottom: 1rem;
  width: 100%;
}

.column {
  flex-direction: column;
}
