.colorGroup {
  border-radius: 12px;
  margin-bottom: 2rem;
}

.labelcontainer {
  color: var(--ps-text);
  padding: 1rem;
}

.label {
  font-family: 'DM Mono', monospace, serif;
  margin-bottom: 4px;
}

.list {
  column-gap: 1rem;
  display: grid;
  justify-content: stretch;
  list-style: none;
  padding-bottom: 1rem;
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
  padding-top: 1rem;
  row-gap: 1rem;
}

.item {
  background-color: var(--ps-surface-weak);
  border: 1px solid var(--ps-border-weak);
  border-radius: 6px;
}

.item + li {
  margin-top: 0 !important;
}

.swab {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 10rem;
  position: relative;
  width: 100%;
}

.hexValue {
  border: none;
  border-radius: 0.4rem;
  bottom: 0.375rem;
  font-family: 'DM Mono', sfmono-regular, menlo, monaco, consalas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 95%;
  left: 0.375rem;
  padding: 0.1rem 0.2rem;
  position: absolute;
  vertical-align: middle;
}

.colorInfo {
  align-items: center;
  display: flex;
  gap: 0.375rem;
}

.syntax {
  display: block;
}

.code {
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 722px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1375px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
