.formLabelBase {
  display: block;
  font-family: 'PS TT Commons Roman', 'Gotham SSm A', 'Gotham SSm B', Arial,
    sans-serif;
  font-size: 1rem;
  font-variation-settings: "'wght' 400";
  font-weight: 400;
  margin-bottom: 0;
  margin-inline-end: 0.625rem;
  opacity: 1;
  text-align: start;
}

.sLabel {
  composes: formLabelBase;
  font-size: 0.75rem;
}

.mLabel {
  composes: formLabelBase;
}
