@import 'https://cdn.jsdelivr.net/npm/normalize.css@latest/normalize.css';

html {
  background-color: var(--ps-surface);
  box-sizing: border-box;
  color: var(--ps-text);
  font-family: 'PS Commons', 'Gotham SSm A', 'Gotham SSm B', Arial, sans-serif;
  font-feature-settings: 'tnum' on, 'lnum' on;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: geometricprecision;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote,
p,
address,
hr,
table,
fieldset,
figure,
pre {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: var(--ps-border-weak);
  outline: none;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--ps-border);
  border-radius: 5px;
  outline: none;
}
