dl,
.ul-list {
  line-height: 1.5;
  margin-block-start: 1.25em;
  padding-inline-start: 0.125em;
}

.ul-list-item {
  list-style: none;
  padding-inline-start: 1.25em;
  position: relative;
}

.ul-list-item + .ul-list-item {
  margin-block-start: 1em;
}

.ul-list-item::before {
  background-color: var(--ps-border-strong);
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 0.5em;
  left: 0;
  position: absolute;
  top: 0.5em;
  width: 0.5em;
}

.ul-list-item > .ul-list > .ul-list-item::before {
  background-color: transparent;
  border-color: var(--ps-border-strong);
  border-style: solid;
  border-width: 1px;
}

.ul-list-item > .ul-list {
  margin-block-end: 0;
  margin-block-start: 1em;
  padding-inline-start: 0;
}

dl {
  column-gap: 1.5em;
  display: grid;
  grid-template-areas: 'term definition';
  grid-template-columns: fit-content(25%) fit-content(75%);
  margin-inline-start: 0;
  row-gap: 1em;
}

dt {
  grid-column: term;
}

dd {
  grid-column: definition;
  margin: 0;
  padding: 0;
}
