@import url('https://unpkg.com/normalize.css@latest/normalize.css');

html {
  box-sizing: border-box;
  font-family: 'PS TT Commons Roman', 'Gotham SSm A', 'Gotham SSm B', Arial,
    sans-serif;
  font-feature-settings: 'tnum' on, 'lnum' on;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'wght' 500;
  font-weight: 500;
  line-height: 1.5;
  text-rendering: geometricPrecision;
  text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote,
p,
address,
hr,
table,
fieldset,
figure,
pre {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

/* typography */

h1,
h2,
h3 {
  font-variation-settings: 'wght' 800;
  font-weight: 800;
}

h2,
h3,
h4,
h5 {
  line-height: 1.25;
}

h4,
h5,
h6,
strong {
  font-variation-settings: 'wght' 700;
  font-weight: 700;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.1;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.5;
}

code,
kbd,
samp {
  background-color: var(--ps-surface-strong);
  border: none;
  border-radius: 0.4rem;
  color: var(--ps-text-medium);
  font-family: 'DM Mono', sfmono-regular, menlo, monaco, consalas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 95%;
  padding: 0.1rem 0.2rem;
  vertical-align: middle;
}

kbd {
  box-shadow: none;
}

mark::before,
mark::after {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

label {
  font-size: 0.875rem;
  font-variation-settings: 'wght' 700;
  font-weight: 700;
}

mark::before {
  content: ' [highlight start] ';
}

mark::after {
  content: ' [highlight end] ';
}

small.size-xs {
  font-size: 0.75rem;
}

small {
  font-size: 0.875rem;
}

p {
  font-size: 1rem;
}

p.size-l {
  font-size: 1.125rem;
}

p.size-xl {
  font-size: 1.25rem;
}

p.size-xxl {
  font-size: 1.5rem;
}

/* lists */

dl,
ol,
ul {
  line-height: 1.5;
  margin-block-start: 1.25em;
  padding-inline-start: 0.125em;
}

ol {
  margin-inline-start: 1em;
}

dl,
ul {
  margin-inline-start: 0;
}

ul > li {
  list-style: none;
  padding-inline-start: 1.25em;
  position: relative;
}

ol > li {
  padding-inline-start: 0.25em;
}

li + li {
  margin-block-start: 1em;
}

ul > li::before {
  background-color: var(--ps-border-strong);
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 0.5em;
  left: 0;
  position: absolute;
  top: 0.5em;
  width: 0.5em;
}

li > ul > li::before {
  background-color: transparent;
  border-color: var(--ps-border-strong);
  border-style: solid;
  border-width: 1px;
}

li > ol,
li > ul {
  margin-block-end: 0;
  margin-block-start: 1em;
  padding-inline-start: 0;
}

dl {
  column-gap: 1.5em;
  display: grid;
  grid-template-areas: 'term definition';
  grid-template-columns: fit-content(25%) fit-content(75%);
  row-gap: 1em;
}

dt {
  grid-column: term;
}

dd {
  grid-column: definition;
  margin: 0;
  padding: 0;
}

/* images */

img {
  max-width: 100%;
  vertical-align: middle;
}

img[width],
img[height] {
  max-width: none;
}

/* HS custom */

.psds-screenreader-only {
  border: 0;
  height: 1px;
  left: -10000px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: auto;
  width: 1px;
}

body[data-modal-open='true'] {
  margin-left: 0;
  margin-right: 0 !important;
  margin-top: 0;
  overflow: hidden !important;
  overscroll-behavior: contain;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  position: relative !important;
}
