.pando_progressBar {
  background-color: var(--ps-text-strong);
  height: 100%;
  width: 0;
}

.pando_linearProgress {
  border-radius: 20px;
}

.pando_progressWrapper {
  background-color: var(--ps-border);
  height: 0.5rem;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}

/* inset & xsSize must be last */

.pando_insetProgress {
  border-radius: initial;
}

.pando_sProgress {
  height: 0.5rem;
}

.pando_xsProgress {
  height: 0.25rem;
}
