.bar {
  background-color: var(--ps-neutral-text);
  height: 100%;
  width: 0;
}

.linear {
  border-radius: 20px;
}

.sSize,
.xsSize {
  composes: bar;
}

.wrapper {
  background-color: var(--ps-neutral-border);
  height: 0.5rem;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}

/* inset & xsSize must be last */

.inset {
  border-radius: initial;
}

.xsSize {
  height: 0.25rem;
}
