.bar {
  background-color: var(--ps-text-strong);
  height: 100%;
  width: 0;
}

.linear {
  border-radius: 20px;
}

.sSize,
.xsSize {
  background-color: var(--ps-text-strong);
}

.wrapper {
  background-color: var(--ps-border);
  height: 0.5rem;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}

/* inset & xsSize must be last */

.inset {
  border-radius: initial;
}

.sSize {
  height: 0.5rem;
}

.xsSize {
  height: 0.25rem;
}
