.psIcon {
  display: inline-block;
}

.sIconSize,
.mIconSize,
.lIconSize {
  composes: psIcon;
}

.sIconSize {
  height: 1rem;
  width: 1rem;
}

.mIconSize {
  height: 1.25rem;
  width: 1.25rem;
}

.lIconSize {
  height: 1.5rem;
  width: 1.5rem;
}
