@use 'sass:map';

$icon-sizes: (
  's': 1rem,
  'm': 1.25rem,
  'l': 1.5rem,
);

@mixin icon-base($size: '') {
  display: inline-block;

  @if map.has-key($icon-sizes, $size) {
    height: map.get($icon-sizes, $size);
    width: map.get($icon-sizes, $size);
  }
}

@each $name, $value in $icon-sizes {
  .pando_#{$name}IconSize {
    @include icon-base($name);
  }
}

.pando_customIconSize {
  @include icon-base;
}
