.psIcon {
  display: inline-block;
}

.sIconSize {
  composes: psIcon;
  height: 1rem;
  width: 1rem;
}

.mIconSize {
  composes: psIcon;
  height: 1.25rem;
  width: 1.25rem;
}

.lIconSize {
  composes: psIcon;
  height: 1.5rem;
  width: 1.5rem;
}

.customIconSize {
  composes: psIcon;
}
