.iconBtnBase {
  composes: pandoBtn from '../shared/button.module.css';
}

.iconBtntnDefaultBorder {
  composes: pandoBtnBorder from '../shared/button.module.css';
}

.iconBtnDefaultRadius {
  composes: pandoBtnRadius from '../shared/button.module.css';
}

/* sentiment (optional) */

.actionIconButton {
  background-color: var(--ps-action-background);
  border: 2px solid var(--ps-action-border);
  color: var(--ps-action-text);
}

.defaultIconButton {
  background-color: var(--ps-background);
  border: 2px solid var(--ps-border-strong);
  color: var(--ps-text);
}

.dangerIconButton {
  background-color: var(--ps-danger-background);
  border: 2px solid var(--ps-danger-border);
  color: var(--ps-danger-text-inverse);
}

/* sizes */

.mIconButton {
  height: 2rem;
  min-width: initial;
  width: 2rem;
}

.lIconButton {
  height: 3rem;
  min-width: initial;
  width: 3rem;
}

/* hover */

.actionIconButton:hover:not(:disabled) {
  background-color: var(--ps-action-background-hover);
}

.defaultIconButton:hover:not(:disabled) {
  background-color: var(--ps-background-hover);
}

.dangerIconButton:hover:not(:disabled) {
  background-color: var(--ps-danger-background-hover);
}

.textIconButton:hover:not(:disabled) {
  background-color: transparent;
  scale: 1.1;
}

/* active */

.actionIconButton:active:not(:disabled) {
  background-color: var(--ps-action-background-active);
}

.defaultIconButton:active:not(:disabled) {
  background-color: var(--ps-background-active);
}

.dangerIconButton:active:not(:disabled) {
  background-color: var(--ps-danger-background-active);
}

.textIconButton:active:not(:disabled) {
  background-color: transparent;
}

/* usage (required) - MUST BE LAST */

.squareIconButton {
  composes: iconBtnBase iconBtntnDefaultBorder iconBtnDefaultRadius;
  border-radius: 6px;
}

.roundIconButton {
  composes: iconBtnBase iconBtntnDefaultBorder;
  border-radius: 50%;
}

.textIconButton {
  composes: iconBtnBase iconBtntnDefaultBorder iconBtnDefaultRadius;
  background-color: transparent;
  color: var(--ps-action-text-inverse);
}
