.actionIconButton {
  background-color: var(--ps-action-background);
  color: var(--ps-action-text);
}

.defaultIconButton {
  background-color: var(--ps-background);
  color: var(--ps-text);
}

/* usage */

.squareIconButton {
  border-radius: 6px;
}

.roundIconButton {
  border-radius: 50%;
}

.textIconButton {
  background-color: transparent;
  color: var(--ps-action-text-inverse);
}

/* sizes */

.mIconButton {
  height: 2rem;
  min-width: initial;
  width: 2rem;
}

.lIconButton {
  height: 3rem;
  min-width: initial;
  width: 3rem;
}

/* hover */

.actionIconButton:hover:not([data-disabled='true']) {
  background-color: var(--ps-action-background-hover);
}

.defaultIconButton:hover:not([data-disabled='true']) {
  background-color: var(--ps-background-hover);
}

.textIconButton:hover:not([data-disabled='true']) {
  background-color: transparent;
}

/* active */

.actionIconButton:active:not([data-disabled='true']) {
  background-color: var(--ps-action-background-active);
}

.defaultIconButton:active:not([data-disabled='true']) {
  background-color: var(--ps-background-active);
}

.textIconButton:hover:not([data-disabled='true']) {
  background-color: transparent;
}
