.basePromptDialogSection {
  composes: pandoDialogSection from '../shared/dialog.module.css';
}

.basePromptAnimation {
  composes: pandoFadeIn from '../shared/keyframes.module.css';
}

.promptDialogBackdrop {
  composes: pandoDialogBackdrop from '../shared/dialog.module.css';
}

.promptDialogBtnGroup {
  composes: pandoDialogBtnGroup from '../shared/dialog.module.css';
}

.promptDialogCancelBtn {
  composes: pandoDialogCancelBtn from '../shared/dialog.module.css';
}

.promptFocusGuard {
  composes: pandoFocusGuard from '../shared/dialog.module.css';
}

.promptDialogSection {
  composes: basePromptAnimation basePromptDialogSection;
}

.promptDialogWrapper {
  composes: pandoDialogWrapper from '../shared/dialog.module.css';
}

.promptDialogHeader {
  composes: pandoDialogHeader from '../shared/dialog.module.css';
  margin-top: 2.5rem;
}

.promptDialogTitleIcon {
  composes: pandoDialogTitleIcon from '../shared/dialog.module.css';
}

.promptInputWrapper {
  margin-top: 1rem;
}
