@use '../shared/states';

.pando_tabWrapper {
  width: 100%;
}

.pando_tabList {
  @extend %default-focus-states;

  background-image: linear-gradient(
    to top,
    transparent 0,
    transparent 1rem,
    var(--ps-border-weak) 1.0625rem,
    var(--ps-border-weak) 1.125rem,
    transparent 1.1875rem,
    transparent 100%
  );
  border-radius: 6px;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding: 5px;
  padding-block-end: 1rem;
}

%base-tab {
  @extend %default-focus-states;

  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 6px;
  color: var(--ps-action-text-weak);
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-variation-settings: 'wght' 500;
  font-weight: 500;
  height: 4rem;
  margin-inline-end: 2rem;
  padding: 0;
  position: relative;
  white-space: nowrap;

  &::after {
    background-color: var(--ps-background-hover);
    border-radius: 2px 2px 0 0;
    bottom: 0.125rem;
    content: '';
    display: block;
    height: 0;
    left: 0;
    margin-top: 1.125rem;
    position: absolute;
    right: 0;
    transition: height 150ms ease-in-out, background-color 250ms ease-in-out;
    width: 100%;

    &:hover {
      height: 0.25rem;
    }
  }

  &[aria-selected='true'] {
    color: var(--ps-action-text-inverse);

    &::after {
      background-color: var(--ps-action-border);
      height: 0.25rem;
    }
  }
}

.pando_mTab {
  @extend %base-tab;
}

.pando_sTab {
  @extend %base-tab;

  font-size: 0.875rem;
  margin-inline-end: 1.5rem;
  height: 3rem;

  &::after {
    margin-top: 0.72rem;
  }
}

.pando_tabPanel {
  @extend %default-focus-states;

  border-radius: 6px;
  width: 100%;

  &[aria-hidden='true'] {
    display: none;
  }
}
