@use '../shared/link';
@use '../shared/states';

.pando_textLink {
  @extend %base-link;
  @extend %default-focus-states;

  align-items: center;
  background-color: transparent;
  border-radius: 6px;
  display: inline-flex;
  gap: 0.25em;
  outline: none;
}
