.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 06%);
  margin-bottom: 48px;
  min-height: 247px;
  max-width: 384px !important;
  padding: 40px !important;
}

.features {
  align-items: center;
  display: flex;
  padding-bottom: 110px;
  padding-top: 60px;
  width: 100%;
}

.row {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 966px) {
  .card {
    margin-bottom: initial;
  }

  .row {
    flex-direction: row;
    justify-content: space-between;
  }
}
