.admonitionWrapper {
  align-items: flex-start;
  border-radius: 6px;
  display: flex;
  overflow: hidden;
  padding-bottom: 0.875rem;
  padding-inline-end: 0;
  padding-inline-start: 0.875rem;
  padding-top: 0;
  position: relative;
  width: 100%;
}

.admonitionWrapper::before {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  content: '';
  height: 100%;
  left: 0.5px;
  position: absolute;
  top: 0;
  width: 4px;
  z-index: 50;
}

.admonitionText {
  color: inherit;
  font-family: inherit;
  text-align: left;
}

.admonitionDescription {
  composes: admonitionText;
  margin-top: 4px;
}

.admonitionTitle {
  composes: admonitionText;
  font-variation-settings: 'wght' 700;
  font-weight: 700;
  padding-top: 0.875rem;
}

.admonitionIconWrapper {
  display: inline-block;
  margin-inline-end: 0.875rem;
  padding-top: 0.875rem;
}

.admonitionTextContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* info */

.infoAdmonition {
  background: var(--ps-info-surface);
  composes: admonitionWrapper;
}

.infoAdmonition::before {
  background-color: var(--ps-info-border);
}

.infoIconWrapper {
  color: var(--ps-info-text-medium);
  composes: admonitionIconWrapper;
}

.infoTextContainer {
  color: var(--ps-info-text);
  composes: admonitionTextContainer;
}

/* success */

.successAdmonition {
  background: var(--ps-success-surface);
  composes: admonitionWrapper;
}

.successAdmonition::before {
  background-color: var(--ps-success-border);
}

.successIconWrapper {
  color: var(--ps-success-text-medium);
  composes: admonitionIconWrapper;
}

.successTextContainer {
  color: var(--ps-success-text);
  composes: admonitionTextContainer;
}

/* warning */

.warningAdmonition {
  background: var(--ps-warning-surface);
  composes: admonitionWrapper;
}

.warningAdmonition::before {
  background-color: var(--ps-warning-border);
}

.warningIconWrapper {
  color: var(--ps-warning-text-medium);
  composes: admonitionIconWrapper;
}

.warningTextContainer {
  color: var(--ps-warning-text);
  composes: admonitionTextContainer;
}

/* danger */

.dangerAdmonition {
  background: var(--ps-danger-surface);
  composes: admonitionWrapper;
}

.dangerAdmonition::before {
  background-color: var(--ps-danger-border);
}

.dangerIconWrapper {
  color: var(--ps-danger-text-medium);
  composes: admonitionIconWrapper;
}

.dangerTextContainer {
  color: var(--ps-danger-text);
  composes: admonitionTextContainer;
}
