.checkboxContainer {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  vertical-align: top;
}

.checkboxInput {
  border: 0;
  box-sizing: border-box;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkboxControl {
  align-items: center;
  border-color: var(--ps-neutral-border-strong);
  border-image: initial;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  color: white;
  display: inline-flex;
  flex-shrink: 0;
  height: 1.125rem;
  justify-content: center;
  margin-bottom: 2px;
  margin-inline-end: 0.437rem;
  transition-duration: 150ms;
  transition-property: background, background-color, border, box-shadow;
  user-select: none;
  vertical-align: top;
  width: 1.125rem;
}

/* states */

.checkboxControl:hover {
  background: var(--ps-neutral-background);
  border-color: var(--ps-neutral-background);
}

.checkboxInput:focus + .checkboxControl {
  box-shadow: 0 0 0 3px var(--ps-background-active);
}

.checkboxInput:focus:not(:focus-visible) + .checkboxControl {
  box-shadow: none;
  outline: none;
}

.checkboxContainer[data-disabled='true'],
.checkboxContainer[data-readonly='true'] {
  cursor: not-allowed;
}

.checkboxControl[data-checked='true'] {
  background: var(--ps-background);
  border-color: var(--ps-background);
}

.checkboxControl[data-checked='true']:hover {
  background: var(--ps-background-hover);
  border-color: var(--ps-background-hover);
}

.checkboxControl[data-disabled='true'] {
  background: var(--ps-neutral-background);
  border-color: var(--ps-neutral-background);
}

.checkboxControl[data-invalid='true'] {
  background: var(--ps-danger-background);
  border-color: var(--ps-danger-background);
}

.checkboxControl[data-invalid='true']:hover {
  background: var(--ps-danger-background-hover);
  border-color: var(--ps-danger-background-hover);
}

.checkboxControl[data-readonly='true']:hover {
  background-color: initial;
}

.checkboxrow {
  composes: checkboxContainer;
}

.checkboxcol {
  align-items: flex-start;
  composes: checkboxContainer;
  flex-direction: column;
}
