.pando_checkboxContainer {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  vertical-align: top;

  &[disabled],
  &[data-readonly='true'] {
    cursor: not-allowed;
  }
}

.pando_checkboxInput {
  border: 0;
  box-sizing: border-box;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:focus + [data-control] {
    outline: 3px solid var(--ps-action-border-focus);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) + [data-control] {
    box-shadow: none;
    outline: none;
  }
}

.pando_checkboxControl {
  align-items: center;
  border-color: var(--ps-action-border);
  border-image: initial;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  color: var(--ps-action-text);
  display: inline-flex;
  flex-shrink: 0;
  height: 1.125rem;
  justify-content: center;
  margin-bottom: 2px;
  margin-inline-end: 0.437rem;
  transition-duration: 150ms;
  transition-property: background, background-color, border, box-shadow;
  user-select: none;
  vertical-align: top;
  width: 1.125rem;

  &[disabled] {
    background: var(--ps-background);
    border-color: var(--ps-background);
  }

  &[data-checked='true'] {
    background: var(--ps-action-background);
    border-color: var(--ps-action-background);
  }

  &[data-invalid='true'] {
    background: var(--ps-danger-surface);
    border-color: var(--ps-danger-surface);
    color: var(--ps-danger-text);
  }

  &:hover {
    &:not([disabled]) {
      background: var(--ps-background-hover);
      border-color: var(--ps-background-hover);
    }

    &[data-checked='true'] {
      background: var(--ps-action-background-hover);
      border-color: var(--ps-action-background-hover);
    }

    &[data-invalid='true'] {
      background: var(--ps-danger-surface);
      border-color: var(--ps-danger-surface);
    }

    &[data-readonly='true'] {
      background-color: initial;
    }
  }
}
