.baseBadge {
  border-radius: 4px;
  display: inline-block;
  font-family: inherit;
  font-variation-settings: 'wght' 500;
  font-weight: 500;
  max-width: initial;
  padding-inline-end: 8px;
  padding-inline-start: 8px;
  text-transform: uppercase;
  transition: initial;
  vertical-align: middle;
  user-select: none;
  white-space: nowrap;
}

/* usage */

.filledBadge {
  composes: baseBadge;
  background-color: var(--ps-surface-medium);
  color: var(--ps-text);
}

.outlineBadge {
  background-color: transparent;
  border: 1px solid var(--ps-text);
  color: var(--ps-text);
}

/* sentiment */

.defaultBadge {
  composes: filledBadge;
}

.actionBadge {
  composes: filledBadge;
  background-color: var(--ps-action-background);
  color: var(--ps-action-text);
}

/* sizes */

.xsBadge {
  font-size: 0.625rem;
  padding-bottom: 1.5px;
  padding-top: 1.5px;
}

.sBadge {
  font-size: 0.75rem;
  padding-bottom: 3px;
  padding-top: 3px;
}
