%base-badge {
  align-items: center;
  border-radius: 1px;
  display: inline-flex;
  font-family: inherit;
  font-variation-settings: 'wght' 600;
  font-weight: 600;
  gap: 4px;
  line-height: initial;
  max-width: initial;
  padding-inline-end: 8px;
  padding-inline-start: 8px;
  text-transform: uppercase;
  transition: initial;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.pando_badgeIcon {
  display: flex;
  line-height: initial;
}

/* sentiment */

.pando_defaultBadge {
  background-color: var(--ps-background);
  border: 1px solid var(--ps-border);
  color: var(--ps-text);
}

.pando_infoBadge {
  background-color: var(--ps-info-surface);
  border: 1px solid var(--ps-info-border);
  color: var(--ps-info-text);
}

.pando_successBadge {
  background-color: var(--ps-success-surface);
  border: 1px solid var(--ps-success-border);
  color: var(--ps-success-text);
}

.pando_warningBadge {
  background-color: var(--ps-warning-surface);
  border: 1px solid var(--ps-warning-border);
  color: var(--ps-warning-text);
}

.pando_dangerBadge {
  background-color: var(--ps-danger-surface);
  border: 1px solid var(--ps-danger-border);
  color: var(--ps-danger-text);
}

/* sizes */

.pando_xsBadge {
  font-size: 0.625rem;
  height: 1.125rem;
}

.pando_sBadge {
  font-size: 0.75rem;
  height: 1.5rem;
}

/* usage - MUST BE LAST */

.pando_filledBadge {
  @extend %base-badge;

  border: none;
}

.pando_outlineBadge {
  @extend %base-badge;

  background-color: transparent;
}
