@use './states';

%base-btn {
  @extend %default-states;

  align-items: center;
  appearance: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  font-size: inherit;
  font-variation-settings: 'wght' 600;
  font-weight: 600;
  gap: 0.5rem;
  justify-content: center;
  line-height: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out,
    scale 150ms ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

%base-btn-border {
  border-style: solid;
  border-width: 2px;
}

%base-btn-radius {
  border-radius: 6px;
}
