@use './states';

%input-wrapper {
  margin-top: 8px;
  position: relative;
  width: 100%;
}

%input-base {
  @extend %default-states;

  appearance: none;
  background: inherit;
  border-image: initial;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  color: var(--ps-text-strong);
  font-family: inherit;
  min-width: 0;
  outline: transparent solid 2px;
  outline-offset: 2px;
  padding-inline-end: 2.75rem;
  position: relative;
  transition-duration: 150ms;
  transition-property: box-shadow, opacity, transform;
  width: 100%;

  &::placeholder {
    color: var(--ps-text-weak);
    opacity: 1;
  }

  &:disabled {
    background: var(--ps-background);
    border-color: var(--ps-background);
  }

  &:not(:disabled, [data-readonly='true']):hover {
    box-shadow: var(--ps-border-strong) 0 0 0 1px;
  }

  &[data-invalid='true'] {
    border-color: var(--ps-danger-border);
    box-shadow: var(--ps-danger-border) 0 0 0 1px;
  }
}

%input-border-color {
  border-color: var(--ps-action-border);
}

%input-padding-start {
  padding-inline-start: 1rem;
}

%input-size-m {
  font-size: 0.875rem;
  height: 2rem;
}

%input-size-l {
  font-size: 1rem;
  height: 3rem;
}

%input-icon {
  display: inline-block;
  line-height: 0;
  pointer-events: none;
  position: absolute;
  right: 0.798rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
}
