%interactive-cursor-states {
  &:is([aria-disabled='true'], :disabled, [disabled], [data-readonly='true']) {
    cursor: not-allowed;
  }
}

%default-states {
  @extend %interactive-cursor-states;

  font-family: inherit;

  /* states */

  &:is([aria-disabled='true'], :disabled) {
    opacity: 0.5;
  }

  &:focus {
    box-shadow: none;
    outline: 3px solid var(--ps-action-border-focus);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    box-shadow: none;
    outline: none;
  }
}
