@mixin focus-styles {
  box-shadow: none;
  outline: 3px solid var(--ps-action-border-focus);
  outline-offset: 2px;
}

@mixin invisible-focus-styles {
  box-shadow: none;
  outline: none;
}

%interactive-cursor-states {
  &:is([aria-disabled='true'], :disabled, [disabled], [data-readonly='true']) {
    cursor: not-allowed;
  }
}

%default-states {
  @extend %interactive-cursor-states;

  font-family: inherit;

  /* states */

  &:is([aria-disabled='true'], :disabled) {
    opacity: 0.5;
  }

  &:focus {
    @include focus-styles;
  }

  &:focus:not(:focus-visible) {
    @include invisible-focus-styles;
  }
}
