@use 'sass:list';

$sentiments: 'default', 'action', 'info', 'success', 'warning', 'danger';

@function sentiments-except($excludedSentiments...) {
  $result: ();

  @each $sentiment in $sentiments {
    @if not index($excludedSentiments, $sentiment) {
      $result: list.append($result, $sentiment);
    }
  }

  @return $result;
}
