.pandoBtn {
  composes: pandoDefaultStates from './states.module.css';
  align-items: center;
  appearance: none;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: inherit;
  font-variation-settings: 'wght' 600;
  font-weight: 600;
  gap: 0.5rem;
  justify-content: center;
  line-height: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: background-color scale 250ms ease-in-out, color 250ms ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.pandoBtnBorder {
  border: none;
}

.pandoBtnRadius {
  border-radius: 6px;
}

.pandoTextBtn {
  composes: pandoBtn;
  background-color: transparent;
}

.pandoTextBtn:hover:not(:disabled) {
  background-color: transparent;
  scale: 1.1;
}
