:root {
  --ps-backdrop: rgba(0 0 0 / 65%);
}

html[data-theme='light'],
.light {
  --ps-backdrop: rgba(255 255 255 / 65%);
}

.pandoDialogBackdrop {
  background: var(--ps-backdrop);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1300;
}

.pandoDialogBtnGroup {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.pandoFocusGuard {
  height: 0;
  left: 1px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 1px;
  width: 1px;
}

.pandoDialogSection {
  animation-delay: 100ms;
  background: var(--ps-surface-weak);
  border-color: var(--ps-border-weak);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 10px 15px -3px rgba(0 0 0 / 1%), 0 4px 6px -2px rgba(0 0 0 / 5%);
  color: var(--ps-text);
  display: flex;
  flex-direction: column;
  font-family: inherit;
  margin-bottom: 3.75rem;
  margin-top: 3.75rem;
  max-width: 80ch;
  opacity: 0;
  outline: transparent solid 2px;
  outline-offset: 2px;
  padding-bottom: 1.5rem;
  padding-inline-end: 1.5rem;
  padding-inline-start: 1.5rem;
  position: relative;
  width: 100%;
  z-index: 1400;
}

.pandoDialogWrapper {
  align-items: flex-start;
  display: flex;
  height: 100dvh;
  justify-content: center;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1400;
}

.pandoDialogHeader {
  align-items: center;
  display: flex;
  margin-bottom: 1.5rem;
}

.pandoDialogTitleIcon {
  color: var(--ps-danger-border);
  line-height: initial;
  margin-inline-end: 0.625rem;
}
