@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.pandoFadeIn {
  animation-duration: 150ms;
  animation-fill-mode: forwards;
  animation-name: fadeInAnimation;
  animation-timing-function: ease-in-out;
}
