/* axis (private) */

.bottomPosition {
  padding-top: 1em;
  top: 100%;
}

.bottomPositionContent::after {
  top: 0;
  transform: translateY(-0.5em) rotateZ(-225deg);
}

.horizontalStart {
  left: 0;
}

.horizontalStartContent::after {
  left: 1em;
}

.horizontalCenter {
  left: 50%;
  translate: -50% 0;
}

.horizontalCenterContent::after {
  left: 50%;
  translate: -50% 0;
}

.horizontalEnd {
  right: 0;
}

.horizontalEndContent::after {
  right: 0.5rem;
}

.leftPosition {
  padding-right: 1em;
  right: 100%;
}

.leftPositionContent::after {
  right: 0;
  transform: translateX(0.5em) rotateZ(-135deg);
}

.rightPosition {
  left: 100%;
  padding-left: 1em;
}

.rightPositionContent::after {
  left: 0;
  transform: translateX(-0.5em) rotateZ(45deg);
}

.topPosition {
  bottom: 100%;
  padding-bottom: 1em;
}

.topPositionContent::after {
  bottom: 0;
  transform: translateY(0.5em) rotateZ(-45deg);
}

.verticalStart {
  top: 0;
}

.verticalStartContent::after {
  top: 0.5rem;
}

.verticalCenter,
.verticalCenterContent::after {
  top: 50%;
  translate: 0 -50%;
}

.verticalEnd {
  bottom: 0;
}

.verticalEndContent::after {
  bottom: 0.5rem;
}

/* top (public) */

.topStartPandoPosition {
  composes: topPosition horizontalStart;
}

.topStartPandoPositionContent {
  composes: topPositionContent horizontalStartContent;
}

.topPandoPosition {
  composes: topPosition horizontalCenter;
}

.topPandoPositionContent {
  composes: topPositionContent horizontalCenterContent;
}

.topEndPandoPosition {
  composes: topPosition horizontalEnd;
}

.topEndPandoPositionContent {
  composes: topPositionContent horizontalEndContent;
}

/* right (public) */

.rightStartPandoPosition {
  composes: rightPosition verticalStart;
}

.rightStartPandoPositionContent {
  composes: rightPositionContent verticalStartContent;
}

.rightPandoPosition {
  composes: rightPosition verticalCenter;
}

.rightPandoPositionContent {
  composes: rightPositionContent verticalCenterContent;
}

.rightEndPandoPosition {
  composes: rightPosition verticalEnd;
}

.rightEndPandoPositionContent {
  composes: rightPositionContent verticalEndContent;
}

/* bottom (public) */

.bottomStartPandoPosition {
  composes: bottomPosition horizontalStart;
}

.bottomStartPandoPositionContent {
  composes: bottomPositionContent horizontalStartContent;
}

.bottomPandoPosition {
  composes: bottomPosition horizontalCenter;
}

.bottomPandoPositionContent {
  composes: bottomPositionContent horizontalCenterContent;
}

.bottomEndPandoPosition {
  composes: bottomPosition horizontalEnd;
}

.bottomEndPandoPositionContent {
  composes: bottomPositionContent horizontalEndContent;
}

/* left (public) */

.leftStartPandoPosition {
  composes: leftPosition verticalStart;
}

.leftStartPandoPositionContent {
  composes: leftPositionContent verticalStartContent;
}

.leftPandoPosition {
  composes: leftPosition verticalCenter;
}

.leftPandoPositionContent {
  composes: leftPositionContent verticalCenterContent;
}

.leftEndPandoPosition {
  composes: leftPosition verticalEnd;
}

.leftEndPandoPositionContent {
  composes: leftPositionContent verticalEndContent;
}
