.pandoDefaultStates {
  font-family: inherit;
}

/* states */

.pandoDefaultStates:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pandoDefaultStates:focus {
  box-shadow: none;
  outline: 3px solid var(--ps-action-border-focus);
  outline-offset: 2px;
}

.pandoDefaultStates:focus:not(:focus-visible) {
  box-shadow: none;
  outline: none;
}
