.pandoTooltipWrapper {
  display: inline-block;
  position: relative;
}

.pandoTooltipBase {
  composes: pandoFadeIn from './keyframes.module.css';
  display: none;
  opacity: 0;
  position: absolute;
}

.pandoTooltipContentBase {
  position: relative;
}

.pandoTooltipTrigger {
  composes: pandoDefaultStates from './states.module.css';
  cursor: pointer;
  display: inline-block;
}

/* states */

.tooltip:not([data-disabled='true']):hover,
.tooltipWrapper:is(:hover, :focus-within)
  > [data-tooltip]:not([data-disabled='true']) {
  display: inline-block;
}
